/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 14px "Trebuchet MS", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

.masterboard {
  background: rgb(118, 189, 154);
  border: 1px solid #999;
  float: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 34px;
  height: 400px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 10px;
  text-align: left;
  width: 280px;
  /* display: flex; */
  /* overflow-y: scroll; */
}

.masterboardTodoList {
  overflow-y: scroll;
  max-height: 150px;
}

.masterboardTodos {
  border: 1px solid transparent;
  border-radius: 5px;
  min-width: 50px;
  max-width: 100px;
  min-height: 50px;
  max-height: 100px;
  text-align: center;
  background-color: darkgreen;
  color: white;
  margin: 2px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.endTimeWrapper {
  position: relative;
  display: inline-block;
}

.errorLine {
  height: 1px;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 19px;
  left: 0px;
}

.taskField {
  display: flex;
  justify-content: space-between;
  position: relative
}


.individualTask {
  background-color: darkgoldenrod;
  color: #ddd;
  font-weight: 300;
  min-width: 100px;
  max-width: 120px;
  min-height: 20px;
  text-align: left;
  border: 1px solid black;
  letter-spacing: 1px;
  border-radius: 5px;
  padding-left: 5px;
  /* display: inline-block; */
  /* display: flex; */
  /* justify-content: space-between; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeSelection {
  visibility: hidden;
}

.calendar {
  border: 1px solid #999;
  /* height: 400px; */
  width: 100%;
  max-width: 540px;
  max-height: 300px;
  padding: 5px;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* text-transform: uppercase; */
  overflow-x: scroll;
  overflow-y: scroll;
}

.hourList {
  padding: 5px;
  margin-top: 5px;
}

.hourOfDay {
  /* margin-top: 10px; */
  height: 20px;
  padding: 0px;
  /* border-top: 1px dotted #999; */
}

/* .hourOfDay:last-child {
  border-bottom: 1px dotted #999;
} */

.day {
  border-right: 1px solid #999;
  min-width: 300px;
  max-width: 300px;
  width: 100%;
  /* why is max-width here? */
  /* width: 150px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* position: relative; */
}

.day:last-child {
  border-right: none;
}

.timelineLinesWrapper {
  position: relative;
}

.timelineLines {
  /* display: flex;
  flex-direction: row; */
  height: 1px;
  width: 95%;
  background-color: #ccc;
  position: absolute;
  top: 10px;
  left: 10px;
}

.taskBlockElementWrapper {
  position: relative;
}

.taskBlockElement {
  position: absolute;
  background-color: antiquewhite;
  left: 50px;
  width: 82%;
}


th {
  background-color: #04aa6d;
  color: white;
}

tr:hover {
  background-color: #ddd;
}

.date {
  text-align: center;
}